@import url(https://fonts.googleapis.com/css?family=Lora);

.home
{
    height: 100vh;
}


blockquote {
  margin: 3.7em auto;
  padding: 2em;
  background: linear-gradient(white, white) padding-box, border-box 0/cover;
  border: 1.5em solid rgba(255,255,255,.1);
  box-shadow: 5px 3px 30px black;
  font-size: 1.4em;
  font-family: "Lora", serif;
  font-style: italic;
  line-height: 1.5;
  width: 40%;
  cursor: default;
}

footer {
  padding-top: 1.3em;
}

cite {
  font-style: normal;
  font-size: 1.2em;
  font-weight: bold;
  cursor: default;
}

.QuoteDIV
{
    top: 50%;
    left: 50%;
    display: flex;
}

blockquote:hover
{
    transform: scale(1.02);
    animation: pulsate 1.5s ease-out infinite;
}
@-webkit-keyframes pulsate {
    0%   { box-shadow: 0 0 0 black; }
    50%  { box-shadow: 0 0 17px black; }
    100% { box-shadow: 0 0 0 black; }
}

/* buttons with hiperlinks*/

.buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-button {
    display: flex;
    color: #fff;
    background-color: #1D212E;
    padding: 10px 14px;
    border-radius: 20px;
    transition: all 0.25s ease;
    cursor: pointer;
    align-items: center;
    margin: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-filter: drop-shadow(3px 3px 5px #000);
    filter: drop-shadow(3px 3px 5px #000);
}

.arrow-button > .arrow {
    width: 6px;
    height: 6px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: relative;
    transform: rotate(-45deg);
    transition: all 0.25s ease;
}

.arrow-button > .arrow::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all 0.25s ease;
    content: "";
    right: 0;
}

.arrow-button:hover > .arrow {
    transform: rotate(-45deg) translate(4px, 4px);
}

.arrow-button:hover > .arrow::before {
    opacity: 1;
    width: 8px;
}

.arrow-button:hover {
    background-color: #4B5062;
    color: #fff;
}

.button-caption
{
    color: #fff;
    font-weight: 600;
    margin: 27px;
    margin-top: 8px;
    margin-bottom: 0px;
    cursor: default;
}

/* traço-colapse-navbar*/

.traço-colapse-navbar
{
    margin:0px;
}